/* basic elements */
html {
	margin: 0 auto;
	padding: 0;
	width: 1024px;
	}
body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: black; 
	background-color: white;
	width: 1024px;
	background-image:url('pascua.jpg.xhtml?ln=images');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	}
p { 
	font-size: 26px;
	text-align: left;
	color:black;
	border: 1px solid red;
	margin: 20px 40px 0 40px;
	}

h1 { 
	font-family: Impact;
	font-size: 70px;
	color: #999999;
	margin: 30px 40px;
	border:1px solid red;
	text-align:left;
	}
h2 { 
	font-family: Arial;
	font-size: 44px;
	font-weight:bold; 
	color: #999999;
	border:1px solid red;
	margin: 30px 40px;
	}
h3 { 
	font-family: Arial;
	font-size: 30px;
	font-weight:bold;
	color: #999999;
	border:1px solid red;
	text-align: center;
	margin: 30px 50px;
	}
a:link, a:visited{
	color: #999999;
	text-decoration:none;
}
a:hover { 
	color: #003333;
	}
.menu-input{
	height:32px;
	width:403px;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: 0 auto 20px -180px;
	left:50%;
}
.text-input{
	height:28px;
	width:400px;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: 0 auto 20px -180px;
	left:50%;
}
.text-output{
	height:28px;
	width:944px;
	font-size: 26px;
	text-align: center;
	color:black;
	position: absolute;
	margin: 60px auto 0 auto;
}
.data-input{
	height:auto;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: -6px auto 20px -150px;
	left:50%;
}
.stelle-input{
	height:auto;
	width:auto;
	background-color:white;
	position: absolute;
	margin: -31px auto 0 -20px;
	padding:5px;
	left:50%;
	border:1px solid red;
}
.name-input{
	height:30px;
	font-size: 26px;
	text-align: left;
	color:black;
	border: 1px solid red;
	margin-bottom:20px;
}
.button{
	height:50px;
	width:300px;
	position: absolute;
	margin:20px auto auto -120px;
	left: 50%;
	font-size:26px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.save-button{
	height:40px;
	width:120px;
	position: absolute;
	left:50%;
	margin:0 auto auto -40px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.search-button{
	height:50px;
	width:250px;
	margin:20px 45px;
	font-size:22px;
	font-family:arial;
	text-align:center;
	color: #003333;
	display:block;
	float:left;
}
.detail-button{
	height:40px;
	width:120px;
	margin:20px auto 0 20px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.flight-button{
	height:30px;
	width:85px;
	margin:10px 10px auto auto;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;
	float:right;
}

select{
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	height: 30px;
	width: 350px;
}
/* specific divs */
.page-wrapper { 
	width: 1024px;
	padding: 0; 
	position: relative;
	background-color: white;
	border:1px solid #003333;
	}

/* template*/	
.intro {
	margin: 0;
	background-color: #dcdcdc;
	height: 110px;
	width: 100%;
	border-bottom:5px solid white;
	display: block;
}
.access{
	margin-left: 700px;
}
.access a{
	margin-top: 40px;
	color: #666666;
	display:block;
	width:250px;
	text-align: center;
	float: left;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none;
}
.access a:hover {
	color: #FF3333;
	font-size: 30px;
}
 .imgHome{
  margin: 20px 0 0 40px;
  height:auto;
  width:auto;
  float:left;
  }
.imgHome a:hover img{
  border:1px solid #003333;
  }
.menu {
	background-color: #999999;
	height: 35px;
	width: 100%;
	padding-top: 10px;
	border-bottom:5px solid white;
}
.menu a{
	display:block;
	width:200px;
	text-align: center;
	float: left;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none; 
	color: white;
}
.menu a:hover{
	font-size:125%;
}
.footer {
	margin: 0;
	padding: 0;
	background-color: #999999;
	height: 260px;
	width: 100%;
}
#newsletter a:link {
	font-family: Impact;
	font-size: 27px;
	color: white;
	text-decoration: none;
}
#newsletter a:hover { 
	font-size:30px;
	}
.link{
	display:block;
	width:220px;
	height: 200px;
	text-align: left;
	float: left;
	padding-left: 30px;
	padding-top: 20px;
}
.link a{
	display:block;
	width:220px;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none; 
	color: white;
}
.link a:hover{
	font-size:125%;
}
#linkUtili{
	font-family: Impact;
	font-size: 27px;
	color: white;
	padding-top: 30px;
	padding-left:280px;
}

/*Homepage*/
#linkPacc{
	font-family: Impact;
	font-size: 50px;
	text-align: center;
	color:white;
	padding: 10px;
}
#linkPacc a:link{
	color:white;
}
#linkPacc a:hover{ 
	color: #003333;
	}
.blocco {
	background-color: #dcdcdc;
	height: 545px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}

.bloccoBianco {
	background-color: white;
	height: 540px;
	width: 100%;
	border-top:1px solid white;
}

.domande{
	background-color: #ededed;
	height: 200px;
	widht:100%;
	border-bottom:5px solid white;
}
.domande ul li{
	display:block;
	width:470px;
	height: 150px;
	text-align: center;
	float: left;
	padding-top: 30px;
}
.domande ul li a{
	display:block;
	width:470px;
	padding-top: 30px;
	font-size: 30px;
	font-family: Arial;
	font-weight:bold;
	color: #999999;
	text-decoration: none;
}
.domande ul li a:hover{
	color: #003333;
}
.pacchetto {
  margin: 20px 0px 0px 40px;
  border:1px solid white;
  height: auto;
  width: auto;
  display: block;
  float: left;
  text-align:center;
  background-color: #999999;
  }
 
.pacchetto a:hover img {
  border:1px solid #003333;
  }
  
/*Creazione pacchetto*/
.data{
	height:150px;
	display:block;
	float:none;
	text-align:center;
	border:1px solid red;
}
.città{
	display:block;
	float:none;
	text-align:center;
	border:1px solid red;
}

.hotel
  {
  margin: 20px 0 20px 40px;
  padding: 5px;
  border:1px solid black;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  background-color: white;
}
 .hotel img{
  display:inline;
}
.hotel p{
	font-size: 20px;
	text-align:center;
	margin:5px 0;
}
/*Aggiunta collegamento*/
.volo{
	background-color: #dcdcdc;
	height:107px;
	border:1px solid #dcdcdc;
}
.etichette {
	background-color:#999999;
	height:30px;
	width:894px;
	margin: 10px 10px 0 10px;
	border:1px solid #999999;
	float:left;
}
.etichette ul{
	margin-left: -40px;
}
.etichette ul li{
	font-family:Arial;
	font-size:18px;
	color:white;
	font-weight:bold;
	width:145px;
	text-align:center;
	float:left;
	border:1px solid #999999;
	list-style-type:none;
	margin-top:-10px;
	display:inline;
}
.dati {
	background-color: white;
	height:50px;
	width:894px;
	margin: 0 10px;
	border:1px solid white;
	float:left;
}
.dati ul{
	margin-left:-40px;
}
.dati ul li{
	font-family:Arial;
	font-size:18px;
	color:black;
	width:145px;
	text-align:center;
	dispay: inline;
	float:left;
	border:1px solid white;
	list-style-type:none;
	margin-top:-5px;
}
/*I miei pacchetti*/
.mioBlocco {
	background-color: #dcdcdc;
	height: 300px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}

.mioBloccoBianco {
	background-color: white;
	height: 300px;
	width: 100%;
	border-top:1px solid white;
}

.descr {
	width: auto;
	margin: 20px 0 0 40px;
	border:1px solid red;
	display: block;
	float: left;
}
.descr h2{
	margin: 0;
}
.descr p{
	margin: 10px 0;
}
#prezzo{
	margin: 0;
	font-size: 34px;
	text-align: left;
	color:black;
	border: 1px solid red;
}
/*pagine di dettagli*/
.bloccoDett {
	background-color: #dcdcdc;
	height: 1635px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}
.bloccoDett img{
	border: 1px solid #003333;
	background-color:white;
	padding:5px;
	margin:30px 0 10px 40px;
}
/*Dettagli pacchetto*/
.bloccoPacc {
	background-color: white;
	height: 300px;
	width: 100%;
	border-top:1px solid white;
	border:1px solid red;
}
.bloccoPacc img{
	float: left;
	margin: 30px 0 0 40px;
}
.bloccoPaccVolo {
	background-color: white;
	height: 200px;
	width: 100%;
	border-top:1px solid white;
	border:1px solid red;
}
.bloccoPaccEscursione {
	background-color: white;
	height: auto;
	width: 100%;
	border-top:1px solid white;
	border:1px solid red;
}
.hotelPacc
  {
  margin: 20px 40px;
  border:1px solid black;
  width:944px;
  display:block;
  float:left;
  background-color: white;
}
.hotelPacc img{
	margin:5px;
}
.descrHotel {
	margin: 0px 20px;
	border:1px solid red;
	display: block;
	float: left;
}
.descrHotel p{
	margin: 5px 0;
	font-size:22px;
}
.bloccoRicerca {
	background-color: #669999;
	height: 90px;
	width: 100%;
	border-top:1px solid #669999;
	border-bottom:5px solid white;
	display:block;
	float:none;
}
.bloccoButton {
	background-color: #dcdcdc;
	height: 100px;
	display:block;
	float:none;
	font-size: 26px;
	text-align: left;
	color:black;
	margin: 20px 40px 0 40px;
	border:1px solid red;
}
/*Pagine info*/
.info {
	background-color:white;
	height:1635px;
	width:100%;
}
.info p{
	font-size:22px;
	text-align:justify;
}
.info ul li{
	font-size:22px;
	text-align:justify;
	color:black;
	border: 1px solid red;
	margin: 20px 40px 0 40px;
}
.bloccoLogin {
	background-color: #dcdcdc;
	height: 700px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}