/* basic elements */
html {
	margin: 0 auto;
	padding: 0;
	width: 1024px;
	}
body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: black; 
	background-color: white;
	width: 1024px;
	background-image:url('pascua.jpg.xhtml?ln=images');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	}
p { 
	font-size: 26px;
	text-align: left;
	color:black;
	border: 1px solid transparent;
	margin: 20px 40px 0 40px;
	}

h1 { 
	font-family: Impact;
	font-size: 70px;
	color: #999999;
	margin: 30px 40px;
	border:1px solid transparent;
	text-align:left;
	}
h2 { 
	font-family: Arial;
	font-size: 44px;
	font-weight:bold; 
	color: #999999;
	border:1px solid transparent;
	margin: 30px 40px;
	}
h3 { 
	font-family: Arial;
	font-size: 30px;
	font-weight:bold;
	color: #999999;
	border:1px solid transparent;
	text-align: center;
	margin: 30px 50px;
	}
a:link, a:visited{
	color: #999999;
	text-decoration:none;
}
a:hover { 
	color: #003333;
	}
.editName{
	font-family: Impact;
	font-size: 70px;
	color: #999999;
	margin: 0 40px;
	border:1px solid transparent;
	text-align:left;
}
.editCity{
	width:300px;
	height:35px;
	font-family: Arial;
	font-size: 30px; 
	color: #999999;
	margin: 0 0 0 -144px;
	float:left;	
}
.editData{
	width:250px;
	height:35px;
	font-family: Arial;
	font-size: 26px;
	text-align: left;
	color:black;
	margin: 20px 0 0 -220px;
	float:left;	
}
.data-button{
	height:30px;
	width:85px;
	margin:20px 0 0 290px;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;	
}
.editNumber{
	width:150px;
	height:45px;
	font-family: Arial;
	font-size: 40px; 
	color: #999999;
	margin: 0;
	float:left;	
}
.city-button{
	height:30px;
	width:85px;
	margin:45px 20px 0 0;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;	
}
.menu-input{
	height:32px;
	width:403px;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: 0 auto 20px -180px;
	left:50%;
}
.menu-pred{
	height:32px;
	width:300px;
	font-size: 26px;
	text-align: left;
	color:black;
	margin: 0 0 0 -143px;
}
.text-input{
	height:28px;
	width:400px;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: 0 auto 20px -180px;
	left:50%;
}
.text-output{
	height:28px;
	width:944px;
	font-size: 26px;
	text-align: center;
	color:black;
	position: absolute;
	margin: 60px auto 0 auto;
	list-style-type: none;
}
.data-input{
	height:auto;
	font-size: 26px;
	text-align: left;
	color:black;
	position: absolute;
	margin: -6px auto 20px -150px;
	left:50%;
}
.stelle-input{
	height:auto;
	width:auto;
	background-color:white;
	position: absolute;
	margin: -31px auto 0 -20px;
	padding:5px;
	left:50%;
	border:1px solid transparent;
}
.stelle-dip{
	height:20px;
	width:90px;
	background-color:#dcdcdc;
	margin: 20px auto 0 40px;
	padding:5px;
	border:1px solid transparent;
}
.stelle-dett{
	height:20px;
	width:90px;
	background-color:white;
	border:1px solid transparent;
	margin: 0 auto 0 60px;
}
.stelle-descr{
	height:20px;
	width:90px;
	background-color:white;
	border:1px solid transparent;
	margin: 0 auto 0 255px;
}
.name-input{
	height:30px;
	font-size: 26px;
	text-align: left;
	color:black;
	border: 1px solid transparent;
	margin-bottom:20px;
}
.button{
	height:50px;
	width:300px;
	position: absolute;
	margin:20px auto auto -120px;
	left: 50%;
	font-size:26px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.save-button{
	height:40px;
	width:120px;
	position: absolute;
	left:50%;
	margin:0 auto auto -40px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.search-button{
	height:40px;
	width:240px;
	position: absolute;
	left:50%;
	margin: 5px 0 auto -120px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.pacc-button{
	height:40px;
	width:240px;
	margin: 5px 3px auto 75px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.detail-button{
	height:40px;
	width:120px;
	margin:20px auto 0 20px;
	font-size:18px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
.flight-button{
	height:30px;
	width:85px;
	margin:0;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;
	float:right;
}
.flight-search-button{
	height:30px;
	width:85px;
	margin: -30px 0px 10px 10px;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;
	float:right;
}
.edit-button{
	height:30px;
	width:85px;
	margin:20px auto auto 20px;
	font-size:14px;
	font-family:arial;
	text-align:center;
	color: #003333;
}
select{
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	height: 30px;
	width: 350px;
}
/* specific divs */
.page-wrapper { 
	width: 1024px;
	padding: 0; 
	position: relative;
	background-color: white;
	border:3px solid #003333;
	}
.page-wrapper border{
	z-index:4;
}

/* template*/	
.intro {
	margin: 0;
	background-color: #dcdcdc;
	height: 110px;
	width: 100%;
	border-bottom:5px solid white;
	display: block;
}
.access{
	margin-left: 700px;
}
.access a{
	margin-top: 40px;
	color: #666666;
	display:block;
	width:250px;
	text-align: center;
	float: left;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none;
}
.access a:hover {
	color: #FF3333;
	font-size: 30px;
}
 .imgHome{
  margin: 20px 0 0 40px;
  height:auto;
  width:auto;
  float:left;
  }
.imgHome a:hover img{
  border:1px solid #003333;
  }
.menu {
	background-color: #999999;
	height: 35px;
	width: 100%;
	padding-top: 10px;
	border-bottom:5px solid white;
}
.menu a{
	display:block;
	width:200px;
	text-align: center;
	float: left;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none; 
	color: white;
}
.menu a:hover{
	font-size:125%;
}
.footer {
	margin: 0;
	padding: 0;
	background-color: #999999;
	height: 260px;
	width: 100%;
	border-top:20px solid white;
}
#newsletter a:link {
	font-family: Impact;
	font-size: 27px;
	color: white;
	text-decoration: none;
}
#newsletter a:hover { 
	font-size:30px;
	}
.link{
	display:block;
	width:220px;
	height: 200px;
	text-align: left;
	float: left;
	padding-left: 30px;
	padding-top: 20px;
}
.link a{
	display:block;
	width:220px;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold; 
	text-decoration: none; 
	color: white;
}
.link a:hover{
	font-size:125%;
}
#linkUtili{
	font-family: Impact;
	font-size: 27px;
	color: white;
	padding-top: 30px;
	padding-left:280px;
}

/*Homepage*/
#linkPacc{
	font-family: Impact;
	font-size: 50px;
	text-align: center;
	color:white;
	padding: 10px;
}
#linkPacc a:link{
	color:white;
}
#linkPacc a:hover{ 
	color: #003333;
	}
.blocco {
	background-color: #dcdcdc;
	height: 405px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}

.bloccoBianco {
	background-color: white;
	height: 405px;
	width: 100%;
	border-bottom:5px solid white;
}

.domande{
	background-color: #ededed;
	height: 190px;
	widht:100%;
	border-top: 50px solid white;
	border-bottom:5px solid white;
}
.domande ul li{
	display:block;
	width:470px;
	height: 140px;
	text-align: center;
	float: left;
	padding-top: 20px;
}
.domande ul li a{
	display:block;
	width:470px;
	padding-top: 20px;
	font-size: 30px;
	font-family: Arial;
	font-weight:bold;
	color: #999999;
	text-decoration: none;
}
.domande ul li a:hover{
	color: #003333;
}
.pacchetto {
  margin: 20px 0px 0px 40px;
  border:1px solid white;
  height: auto;
  width: auto;
  display: block;
  float: left;
  text-align:center;
  background-color: #999999;
  }
 
.pacchetto a:hover img {
  border:1px solid #003333;
  }
  
/*Creazione pacchetto*/
.data{
	height:150px;
	display:block;
	float:none;
	text-align:center;
	border:1px solid transparent;
}
.hotel
  {
  margin: 20px 40px;
  padding: 5px;
  border:1px solid black;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  background-color: white;
}
 .hotel img{
  display:inline;
}
.hotel p{
	font-size: 20px;
	text-align:center;
	margin:5px 0;
}
.elencoHotel{
	margin: 30px auto auto 60px;
}
.dettagliHotel{
	width: 600px;
	background-color: white;
	border: 1px solid transparent;
	dispay:block;
	float:none;
}
.dettagliHotel img{
	border: 1px solid #003333;
	background-color:white;
	padding:5px;
	margin:30px auto 10px auto;
}
/*Aggiunta collegamento*/
.volo{
	background-color: #dcdcdc;
	height:110px;
	border-top:5px solid white;
	float:left;
	width:100%;
}
.etichette {
	background-color:#999999;
	height:30px;
	width:894px;
	margin: 10px 10px 0 10px;
	border:1px solid #999999;
	float:left;
}
.etichette ul{
	margin-left: -40px;
}
.etichette ul li{
	font-family:Arial;
	font-size:18px;
	color:white;
	font-weight:bold;
	width:174px;
	text-align:center;
	float:left;
	border:1px solid #999999;
	list-style-type:none;
	margin-top:-10px;
	display:inline;
}
.dati {
	background-color: white;
	height:50px;
	width:894px;
	margin: 0 10px;
	border:1px solid white;
	float:left;
}
.dati ul{
	margin-left:-40px;
}
.dati ul li{
	font-family:Arial;
	font-size:18px;
	color:black;
	width:174px;
	text-align:center;
	dispay: inline;
	float:left;
	border:1px solid white;
	list-style-type:none;
	margin-top:-5px;
}
.dati a{
	margin-left: -15px;
}
/*I miei pacchetti*/
.mioBlocco {
	background-color: #dcdcdc;
	height: 300px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}

.mioBloccoBianco {
	background-color: white;
	height: 300px;
	width: 100%;
	border-top:1px solid white;
}

.descr {
	width: auto;
	margin: 20px 0 0 40px;
	border:1px solid transparent;
	display: block;
	float: left;
}
.descr h2{
	margin: 0;
}
.descr p{
	margin: 10px 0;
}
.pulsanti {
	width: auto;
	margin: 20px 40px 0 0;
	border:1px solid transparent;
	display: block;
	float: right;
}
.pulsanti p{
	margin: 0 0 10px 0;
	text-align:center;
}
.pulsantiVolo {
	width: 90px;
	margin: 10px 15px auto auto;
	border:1px solid transparent;
	display: block;
	float: right;
}
.pulsantiVolo p{
	margin: 0 0 5px 0;
	display: block;
}
#prezzo{
	margin-top: 10px;
	font-size: 38px;
	text-align: left;
	color:black;
	border: 1px solid transparent;
}
/*pagine di dettagli*/
.bloccoDett {
	background-color: #dcdcdc;
	height: 1635px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}
.bloccoDett img{
	border: 1px solid #003333;
	background-color:white;
	padding:5px;
	margin:30px 0 10px 40px;
}
.tabella table{
	width:940px;
	text-align:center;
	margin: 40px auto 0 40px;
	border-collapse:collapse;
}
.tabella td{
	border: 1px solid black;
	vertical-align:middle;
	padding:15px;
	font-size:22px;
}
.tabella th{
	font-size:26px;
}
/*Dettagli pacchetto*/
.bloccoPacc {
	background-color: #dcdcdc;
	height: 300px;
	width: 100%;
	border-top:1px solid white;
	border:1px solid transparent;
}
.bloccoPacc img{
	float: left;
	margin: 30px 0 0 40px;
}
.bloccoPaccVolo {
	background-color: white;
	height: 200px;
	width: 100%;
	border-top:1px solid white;
	border:1px solid transparent;
}
.bloccoPaccVolo p{
	float:left;
}
.bloccoPaccEscursione {
	background-color: white;
	height: auto;
	width: 100%;
	border-top:1px solid white;
	border:1px solid transparent;
}
.hotelPacc
  {
  margin: 20px 40px;
  border:1px solid black;
  width:944px;
  display:block;
  float:left;
  background-color: white;
}
.hotelPacc img{
	margin:5px;
}
.descrHotel {
	margin: 0px 20px;
	border:1px solid transparent;
	display: block;
	float: left;
}
.descrHotel p{
	margin: 5px 0;
	font-size:22px;
}
.bloccoRicerca {
	background-color: #669999;
	height: 90px;
	width: 100%;
	border-top:1px solid #669999;
	border-bottom:5px solid white;
}
.bloccoRicercaCollegamenti {
	background-color: #669999;
	height: 140px;
	width: 100%;
	border-top:1px solid #669999;
	border-bottom:5px solid white;
}
.bloccoModifica {
	background-color: #669999;
	height: 51px;
	width: 100%;
	border-top:1px solid #669999;
	border-bottom:5px solid white;
}
.bloccoModifica a{
	color:white;
	font-size: 18px;
	margin-top:10px;
	text-decoration: none;
	display:block;
	width:200px;
	text-align: center;
	display:block;
	float: left;
	border: 1px solid transparent;
}
.bloccoModifica a:hover { 
	color: #003333;
	}
.bloccoButton {
	background-color: #dcdcdc;
	height: 80px;
	display:block;
	float:none;
	font-size: 26px;
	text-align: left;
	color:black;
	margin: 10px 40px 0 40px;
	border:1px solid transparent;
}
.bloccoCitta {
	background-color: #dcdcdc;
	height: 180px;
	display:block;
	float:none;
	font-size: 26px;
	text-align: left;
	color:black;
	margin: 10px 40px 0 40px;
	border:1px solid transparent;
}
/*Pagine info*/
.info {
	background-color:white;
	height:1635px;
	width:100%;
}
.info p{
	font-size:22px;
	text-align:justify;
}
.info ul li{
	font-size:22px;
	text-align:justify;
	color:black;
	border: 1px solid transparent;
	margin: 20px 40px 0 40px;
}
.bloccoLogin {
	background-color: #dcdcdc;
	height: 700px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}
.matita{
	height:40px;
	width:40px;
	background: url('matita.jpg.xhtml?ln=images');
	background-size: 40px 35px;
	margin-left:20px;
}
/*Area cliente*/
.bloccoArea {
	background-color: #dcdcdc;
	height: 485px;
	width: 100%;
	border-top:1px solid #dcdcdc;
	border-bottom:5px solid white;
}

.bloccoBiancoArea {
	background-color: white;
	height: 485px;
	width: 100%;
	border-bottom:5px solid white;
}
.newColl a:link{
	color: #FF3333;
	margin-left: 35px;
	font-size: 26px;
	text-align: left;
}
.newColl a:hover { 
	color: #003333;
	}
.newColl{
	font-size: 26px;
	text-align: left;
	color:#dcdcdc;
	border: 1px solid transparent;
	margin: 10px 0 0 40px;
}
.newEsc a:link{
	color: #669999;
	margin-left:40px;
	font-size: 26px;
	text-align: left;
}
.newDest a:link{
	color: #669999;
	margin-left: 40px;
	font-size: 30px;
	text-align: left;
}
.newEsc{
	font-size: 26px;
	text-align: left;
	color:#dcdcdc;
	border: 1px solid transparent;
	margin: 20px 40px 0 40px;
}
.newDest a:hover { 
	color: #003333;
	}
.newEsc a:hover { 
	color: #003333;
	}
.newDest{
	font-size: 26px;
	text-align: left;
	color:#dcdcdc;
	border: 1px solid transparent;
	margin: 0 40px;
}

/* Primefaces override */

.tabella .ui-inplace-content {
	font-size:15px!important;
}

.tabella .ui-inputtext {
	width: 25px!important;
}

#prezzo .ui-inplace-content {
	font-size:22px!important;
}

#prezzo .ui-inputtext {
	width: 100px!important;
}

/* Warning message nella pagina dettagli pacchetto */

.warning-div {
	border: 1px solid;
	margin: 20px 0px 0px 0px;
	padding: 10px 10px 10px 10px;	
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.warning-text {
	margin-left: 35px;
	font-size: 20px;
	font-weight: bold;
}